NODE_ENV=development
RABBITMQ_URL=amqp://mipit:mipit_secret@rabbitmq:5672/mipit
QUEUE_NAME=payments.route.breb
ACK_ROUTING_KEY=ack.breb
EXCHANGE_NAME=mipit.payments
BREB_SANDBOX_URL=http://localhost:9003
BREB_MODE=mock
BREB_MOCK_PORT=9003
BREB_TIMEOUT_MS=10000
BREB_MAX_RETRIES=3
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
OTEL_SERVICE_NAME=mipit-adapter-breb
LOG_LEVEL=info
HEALTH_PORT=9103
INSTANCE_ID=breb-1
