NODE_ENV=development
RABBITMQ_URL=amqp://mipit:mipit_secret@rabbitmq:5672/mipit
QUEUE_NAME=payments.route.pix
ACK_ROUTING_KEY=ack.pix
EXCHANGE_NAME=mipit.payments
PIX_SANDBOX_URL=http://localhost:9001
PIX_MODE=mock
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
OTEL_SERVICE_NAME=mipit-adapter-pix
LOG_LEVEL=info
